.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  padding: 0;
  background-color: #EEEEEE; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px; }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
body a {
  color: #FFFFFF;
  text-decoration: none  !important; }

.questions_summary .home-list {
  background-color: white;
  list-style: outside none none; }

.questions_summary .user_icon {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 13px; }

.discussion_summary {
  margin-top: 10px;
  height: 610px;
  overflow-y: scroll; }

.questions_summary .home-list li {
  display: inline;
  border-bottom: medium dashed #e5e5e5; }

.discussion_summary p > span {
  margin-left: 66px; }

.title {
  margin-left: 100px;
  padding-top: 14px; }

.title a {
  color: #333333;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600; }

.title-rating {
  padding-top: 30px;
  display: inline-block;
  margin-left: 23px;
  padding: 15px; }

.title-rating .spacing-5 {
  margin-left: 50px; }

.title-rating .spacing-1 {
  margin-left: 10px; }

.title-rating .spacing-7 {
  margin-left: 70px; }

.grid-dashed-bottom {
  border-bottom: thin dashed grey;
  margin-right: 28px; }

.white-grid {
  background-color: white;
  height: 300px;
  margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
