 	
 	<div class="row"> 		
 		<div class="col-xs-9">
 			<h3>Name of my discussion forum</h3>
 		</div>
 		<div class="col-xs-3">
 		 	<form class="navbar-form navbar-right" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search Topic...">
		        </div>
	    	</form>
		</div> 		
 	</div>
 	<div class="row">
 		<div class="">
 			<div class="col-xs-9 questions_summary">
	 			<div class="discussion_summary">
	 				<ul class="home-list">
	 					<li>
		 					<img src="images/yeoman.png" class="user_icon">
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 								<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>
										<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>
									    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 						</div>
	 						</div>
	 					</li>
	 					<li>
		 					<img src="images/yeoman.png" class="user_icon">
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 							<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>


		 								<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>

		 							    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 							    
		 						</div>
	 						</div>
	 					</li>
	 					<li>
		 						
		 						<img src="images/yeoman.png" class="user_icon">
		 						
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 								<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>


		 								<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>

		 							    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 							    
		 						</div>
	 						</div>
	 					</li>
	 					<li>
		 						
		 						<img src="images/yeoman.png" class="user_icon">
		 						
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 								<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>


		 								<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>

		 							    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 							    
		 						</div>
	 						</div>
	 					</li>
	 					<li>
		 						
		 						<img src="images/yeoman.png" class="user_icon">
		 						
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 								<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>


		 								<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>

		 							    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 							    
		 						</div>
	 						</div>
	 					</li>
	 					<li>
		 						
		 						<img src="images/yeoman.png" class="user_icon">
		 						
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 								<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>


		 								<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>

		 							    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 							    
		 						</div>
	 						</div>
	 					</li>
	 					<li>
		 						
		 						<img src="images/yeoman.png" class="user_icon">
		 						
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 								<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>


		 								<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>

		 							    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 							    
		 						</div>
	 						</div>
	 					</li>
	 					<li>
		 						
		 						<img src="images/yeoman.png" class="user_icon">
		 						
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 								<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>


		 								<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>

		 							    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 							    
		 						</div>
	 						</div>
	 					</li>
	 					<li>
		 						
		 						<img src="images/yeoman.png" class="user_icon">
		 						
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 								<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>


		 								<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>

		 							    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 							    
		 						</div>
	 						</div>
	 					</li>
	 					<li>
		 						
		 						<img src="images/yeoman.png" class="user_icon">
		 						
		 					<div class="grid-dashed-bottom">
		 						<div class="title">
		 								<a href="">Title For my FAQ</a>
		 						</div>
		 						<div class="title-rating">
		 								<span class="label label-success"><a href="">tag1</a></span>
		 								<span class="label label-success"><a href="">tag2</a></span>
		 								<span class="label label-success"><a href="">tag3</a></span>
		 								<span class="label label-success"><a href="">tag4</a></span>
										<span class="label label-success"><a href="">tag5</a></span>


		 								<span class="spacing-5">4 answer</span>
		 								<span class="spacing-5">150 comments</span>
		 								<span class="spacing-5">2 shares</span>

		 							    <span class="spacing-5 pull-right">
		 							    	<i class="glyphicon glyphicon-thumbs-up spacing-1"></i>10
		 							    	<i class="glyphicon glyphicon-thumbs-down spacing-1"></i>2
		 							    </span>
		 							    
		 						</div>
	 						</div>
	 					</li>

	 					
	 				</ul>
	 				

	 			</div>
	 			
	 		</div>
	 		<div class="col-xs-3">
	 			<div class="white-grid">
	 				put a benner
	 			</div>
	 			<div class="white-grid">
	 				related posts
	 			</div>
	 		</div>
 		</div>

 	</div>